.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2b2b;
    padding: 15px;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1; */
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.navbar a:hover {
    color: red;
}

.navbar .logo {
    margin-right: 50px;
    margin-left: 5%;
    color: #ffffff;
}

.navbar .menu {
    margin-right: 5%;
}

.navbar .menu .list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .menu .list .user {
    font-size: 2rem;
}

.navbar #toggler,
label {
    display: none;
    color: #ffffff;
    font-size: 1.2rem;
}

@media (max-width: 655px) {

    .navbar .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .navbar .menu .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar .label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .navbar #toggler:checked~.menu {
        max-height: 100%;
    }
}